<!DOCTYPE html>

{% set user = app.session.get('user') %}

<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-white">
		<nav class="bg-gray-800 p-5 flex justify-between items-center">
			<div class="flex items-center gap-5">
				<a class="text-3xl text-white font-medium hover:text-gray-400" href="/">Bethub</a>
				{% if user %}
					<div class="w-32 bg-gray-700 text-white font-medium py-2 px-4 rounded-lg">
						<span class="underline">Portefeuille</span>
						:
						<span class="text-sm">{{ user.wallet }}
							€
						</span>
					</div>
				{% endif %}
			</div>
			{% if user %}
				<div>
					<a class="text-white hover:text-gray-400" href="{{ path('app_matche_create') }}">
						<button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg">
							Ajouter un matche
						</button>
					</a>
					<a class="text-white hover:text-gray-400" href="{{ path('app_user_logout') }}">
						<button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg">
							Se déconnecter
						</button>
					</a>
				</div>
			{% else %}
				<div>
					<a class="text-white hover:text-gray-400" href="{{ path('app_user_create') }}">
						<button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg">
							S'inscrire
						</button>
					</a>
					<a class="text-white hover:text-gray-400" href="{{ path('app_user_login') }}">
						<button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg">
							Se connecter
						</button>
					</a>
				</div>
			{% endif %}
		</nav>

		{% block body %}{% endblock %}
	</body>
</html>
