{% extends 'base.html.twig' %}

{% block title %}
	Paris
{% endblock %}

{% block body %}
	<div class="px-12">
		<h2 class="text-3xl underline my-5">Paris Normaux</h2>
		<div>
			{{ form_start(formVictory) }}
			Joueuse gagnante :
			{{ form_widget(formVictory.player, {'attr': {'class': 'bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block appearance-none leading-normal'}}) }}
			<br>
			Montant du pari :
			{{ form_widget(formVictory.amount, {'attr': {'class': 'bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block appearance-none leading-normal'}}) }}
			<br>
			{{ form_widget(formVictory.save, {'attr': {'class': 'bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded'}}) }}
			{{ form_widget(formVictory) }}
			{{ form_end(formVictory) }}
		</div>
	</div>

	<div class="px-12">
		<h2 class="text-3xl underline my-5">Paris Spéciaux</h2>
		{# Liste des différents paris spéciaux #}
	</div>

{% endblock %}
